@font-face
{
   font-family:Starjedi;
  src: url(Starjedi.ttf);
}
html
{

}
body {
  display: flex;
  overflow: hidden;
  background:url(bg.jpg);
  background-image: url('bg.jpg'); 
  background-repeat: no-repeat; 
  background-position: center;
  background-attachment: fixed;       
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%; 
  color: white;
}


html,body {
    height: 100%; /* Needed for container's min-height  */  
}


.checkgroup
{

}

button
{
  padding:9px 12px;
  
  font-size: 15px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  cursor: pointer;
  position: absolute;
  top:89%;
  left:50%;

}
button:hover {
  background-color: #3e8e41}

button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
h1 {
  position: absolute;
  left: 40%;
  top:10%;
  font-size: 40px;
  color: white;
  letter-spacing: 2px;
  font-family: Starjedi;
  margin: 0 0 1em;
}
.groups
{

  position: absolute;
  top:33%;
  left:20%;
}
.groups input
{
   background-color: transparent;
   position: relative;
   border: 3px solid white;
    margin-bottom:40px;
    display: inline;
    font-family:serif;
    margin-left: 100px;
    border:pt;
    padding: 4pt 20pt;
    text-align: center;
    color:white;
    text-shadow: 3pt;
    font-size: 15pt;
    text-transform: uppercase;
    border-radius: 10pt;

}
.groups input::placeholder
{
  color:white;
}
.groups input:hover{
    text-emphasis-style: double-circle;
    transform-style: preserve-3d;
  
    
}
.groups input:focus::placeholder {
  color: transparent;
}
.groups input:focus
{
 /* padding:5pt 20pt;*/
}
.groups-0
{
  display: flex;

}
.groups-1
{
  display: flex;
}
.group {

  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 2em;
}

input[type="checkbox"],
input[type="radio"] {

  position: absolute;
  opacity: 0;
  z-index: -1;
}
span {

  position: relative;
  margin-right: 1em;
  padding-left: 2em;
  padding-right: 1em;
  line-height: 2;
  cursor: pointer;
}
span:before {
    box-sizing: border-box;
    content: " ";
    position: absolute;
    top: 0.1em;
    left: 0;
    display: block;
    width: 1.4em;
    height: 1.4em;
    border: 2px solid white;
    border-radius: .25em;
    z-index: -1;
  }
}
input[type="radio"] + span::before {
  text-align: center;
  border-radius: 1em;
}
input[type="checkbox"]:checked + span{
  padding-left: 1em;
  color:#8e44ad;
}
input[type="checkbox"]:checked + span:before {
     position: absolute;
 content:"";
 top:0;
 bottom:0;
 background:black;
 left:0;
 right:0;
 margin:auto;
 width:100%;
 height:100%;
    top: 0;
    height: 2em;
    background: white;
  }
}
input[type="checkbox"]:checked + .text
{
  position: relative;
  top:50%;
}
label,
label::before {
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}
.grouping
{
  position:absolute;
  top:60%;
  left:30%;
  display: flex;
  flex-wrap: wrap;
}
@media only screen and (max-width:767px)
{
  *
  {
    box-sizing: content-box;
  }
     .box
     {
      width: 100%;
      height: 100%;
      box-sizing: border-box;
     }
    .box-00
    {
      width: 100%;
      height: 20%;
    }
     .box-0
     {
      width:100%;
      height: 35%;
     }
     .box-1
     {
      width: 100%;
      height: 35%;
      display: block;
      margin-left: auto;
      margin-right: auto;
     }
     .box-2
     {
      width: 100%;
      height: 10%;

     }

     button
     {
      position: absolute;
      top:90%;
      left:25%;
     }
  

      html,body
        {
          height: 100%;
          width: 100%;
        }
        body {

        overflow-y: hidden;
        background:url(bg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        color: white;
      }
      h1 {
        position: absolute;
        left: 25%;
        top:10%;
        font-size: 24px;
        color: white;
        letter-spacing: 2px;
        font-family: Starjedi;
        margin: 0 0 1em;
      }
      .groups
      {
        position: absolute;
        top: 45%;
        left:10%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
      }
      .groups-0,.groups-1,.groups-2
      {

      display: flex;
        flex-direction: column;
      }
      .grouping
      {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;


      }
      .group-0,.group-1,.group-2
      {
        display: flex;
        flex-direction: row;
        
      }
      .grouping
      {
        font-size: 11px;
      }
      .group-1
      {
       
        
      }
      .group-2
      {
        
      }
      .groups input
      {
         background-color: transparent;
         position: relative;
         border: 2px solid white;
          margin-bottom:20px;
         
          font-family:serif;
          
          text-align: center;
          color:white;
          font-size: 10px;
          text-transform: uppercase;
          border-radius: 5px;

      }

      .checkgroup .grouping
      {
       display: flex;
       flex-direction: column;
       flex-wrap: wrap;
       
      }
      .groups input
{
   background-color: transparent;
   position: relative;
   border: 2px solid white;
    margin-bottom:20px;
   
    font-family:serif;
    
    text-align: center;
    color:white;
    font-size: 10px;
    text-transform: uppercase;
    border-radius: 5px;

}
span {

  position: relative;
  margin-right: 0.5em;
  padding-left: 1em;
  padding-right: 0.5em;
  line-height: 1;
  cursor: pointer;
}
span:before {
    box-sizing: border-box;
    content: " ";
    position: absolute;
    top: 0.1em;
    left: 0;
    display: block;
    width: 1.0em;
    height: 1.0em;
    border: 1px solid white;
    border-radius: .25em;
    z-index: -1;
  
}
input[type="radio"] + span::before {
  text-align: center;
  border-radius: 1em;
}
input[type="checkbox"]:checked + span{
  padding-left: 0.5em;
  color:#8e44ad;
}
input[type="checkbox"]:checked + span:before {
     position: absolute;
 content:"";
 top:0;
 bottom:0;
 background:black;
 left:0;
 right:0;
 margin:auto;
 width:100%;
 height:100%;
    top: 0;
    height: 1em;
    background: white;
  }

input[type="checkbox"]:checked + .text
{
  position: relative;
  top:50%;
}


      .group-0
      { 
      display: flex;
      flex-direction: row;
      position: fixed;
      top:20%;
   

      }
      .group-1
      {
        display: flex;
      flex-direction: row;
      position: fixed;
      top:25%;
   
      }
      .group-2
      {
        display: flex;
      flex-direction: row;
       position: fixed;
      top:30%;
     
      }
      button
      {
       align-self: flex-end;

        
      }
      img
      {
        width: 100px;
        height: 80px;
      }
}
@media only screen and (min-width: 319px) and (max-width: 360px)
{
   
  h1
  {
    font-size: 15px;
    margin-left: 25px;
  }
  .grouping
  {
    font-size: 7px;
    margin-left:10px;
  }

}
        


