@font-face
{
   font-family:Starjedi;
  src: url(Starjedi.ttf);
}
body {
  display: flex;
  overflow: hidden;
  background:url(bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
.footer{

}
html,body {
    height: 100%; /* Needed for container's min-height  */  
}

.container{
    min-height:100%;
    margin-bottom: -40px; /* Put negative height of the footer here */
    padding-bottom: 40px; /* Put height of the footer here. Needed for higher than screen height pages */
}
button
{
  padding:9px 12px;
  position: absolute;
  top:85%;
  left:48%;
  font-size: 15px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  cursor: pointer;

}
button:hover {
  background-color: #3e8e41}

button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
h1 {
  position: absolute;
  left: 40%;
  top:10%;
  font-size: 40px;
  color: white;
  letter-spacing: 2px;
  font-family: Starjedi;
  margin: 0 0 1em;
}
.groups
{

  position: absolute;
  top:33%;
  left:20%;
}
.groups input
{
   background-color: transparent;
   position: relative;
   border: 3px solid white;
    margin-bottom:40px;
    display: inline;
    font-family:serif;
    margin-left: 100px;
    border:pt;
    padding: 4pt 20pt;
    text-align: center;
    color:white;
    text-shadow: 3pt;
    font-size: 15pt;
    text-transform: uppercase;
    border-radius: 10pt;

}
.groups input::placeholder
{
  color:white;
}
.groups input:hover{
    text-emphasis-style: double-circle;
    transform-style: preserve-3d;
  
    
}
.groups input:focus::placeholder {
  color: transparent;
}
.groups input:focus
{
  padding:5pt 20pt;
}
.groups-0
{
  display: flex;
}
.groups-1
{
  display: flex;
}
.group {

  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 2em;
}

input[type="checkbox"],
input[type="radio"] {

  position: absolute;
  opacity: 0;
  z-index: -1;
}
span {

  position: relative;
  margin-right: 1em;
  padding-left: 2em;
  padding-right: 1em;
  line-height: 2;
  cursor: pointer;
}
span:before {
    box-sizing: border-box;
    content: " ";
    position: absolute;
    top: 0.1em;
    left: 0;
    display: block;
    width: 1.4em;
    height: 1.4em;
    border: 2px solid white;
    border-radius: .25em;
    z-index: -1;
  }
}
input[type="radio"] + span::before {
  text-align: center;
  border-radius: 1em;
}
input[type="checkbox"]:checked + span{
  padding-left: 1em;
  color:#8e44ad;
}
input[type="checkbox"]:checked + span:before {
     position: absolute;
 content:"";
 top:0;
 bottom:0;
 background:black;
 left:0;
 right:0;
 margin:auto;
 width:100%;
 height:100%;
    top: 0;
    height: 2em;
    background: white;
  }
}
input[type="checkbox"]:checked + .text
{
  position: relative;
  top:50%;
}
label,
label::before {
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}
.grouping
{
  position:absolute;
  top:60%;
  left:30%;
}
@media only screen and (max-width: 1024px)
{
  .footer
  {
    position: relative;
  }
  .groups
  {
    position:absolute;
    top:15%;
 
    margin-bottom: 20px;
  }
 html
 {
  width: 100%;
  height: 105vh;
 }
 .headinglogo
 {
  width: 100%;
  height:20%;
 }
 h1
 {
  position: absolute;
  left:33%;
  top:2%;
 }
 form
 {
  width: 100%;
  height: 80%;
 }
 h1
 {
  font-size:5vw;
 }
 .groups
 {
  

 }
 .groups input
{
   background-color: transparent;
   position: relative;
   border: 3px solid white;
    margin-bottom:40px;
    display: inline;
    font-family:serif;
    margin-left: 33%;
    padding: 17px 40px;
    text-align: center;
    color:white;
    text-shadow: 3pt;
    font-size: 15pt;
    text-transform: uppercase;
    border-radius: 10pt;

}
.groups-0,.groups-1,.groups-2
{
  display: flex;
  flex-direction: column;
}
.groups input:focus
{
   padding: 17px 60px;
}
.grouping
{

  position:fixed;
  top:45%;
  left:16%;

  
}
span {
  width:100%;
  position: relative;
  margin-right: 1em;
  padding-left: 2em;
  padding-right: 1em;
  line-height: 2;
  cursor: pointer;
}
button
{
  position: absolute;
  top:60%;
  left:43%;
}
.focused
{
   position:fixed;
  top:52%;
  left:16%;


}
.footer{
 position: relative;
}
html,body {
    height: 100%; /* Needed for container's min-height  */  
}

.container{
    min-height:100%;
    margin-bottom: -40px; /* Put negative height of the footer here */
    padding-bottom: 40px; /* Put height of the footer here. Needed for higher than screen height pages */
}

}
@media only screen and (min-width: 320px) and (max-width: 590px)
{

  .grouping
  {
    position: absolute;
    top:45%;
    left: 16%;
  }
 .group-0
 {
  display: flex;
  flex-direction: column;
 }

}