*
{
	box-sizing: border-box;
}
@font-face
{
    font-family: "Aviano Future Regular Fast";
    src:url(fonts/regularfast.ttf);
    font-style: normal;
    font-weight: 50px;
}
@font-face
{
    font-family: "Starjedi";
    src:url(fonts/Starjedi.ttf);
    font-style: normal;
    font-weight: 200px;   
}
.calls a
{
	border:2px solid green;
	font-weight: bold;
	color:green;
	border-radius: 2px;
}
.locate
{
	width: 100px;
}
.call
{
	border:2px solid white;
	
background-color:green;
}
.locate #fb
{
	border:2px solid white;
	background-color: #3b5998;
}
.locate #loc
{ 
	border:2px solid white;
	background-color: #325b7c ;
	
}
a#inst
{
	border:2px solid white;
	background-color: hotpink;
}
.alignment a
{
	box-sizing: border-box;
	border-width: thin;
	
	padding: 4px 5px;
}
.alignment a:hover
{
	text-shadow: none;
}
body
{
	font-family: "Aviano Future Regular Fast";
}
header
{
	text-align: center;
	display: flex;
	width:100%;
}
a
{
	color: white;
	text-decoration: none;
}
a:hover
{
	text-shadow: 0 0 1px #161569,0 0 2px #161569,0 0 3px  #00B7D4,0 0 4px #505488,0 0 5px #505488,0 0 6px #505488,0 0 7px #505488,0 0 8px #00B7D4,0 0 9px #00B7D4,0 0 10px #00B7D4;
}
.logo
{
	box-sizing: content-box;
	flex: 1;
	
}
nav
{

	flex: 3;
}

.logo,nav
{
	display: flex;
}

.nav-container
{
	min-width: 100px;
	
}
.nav-container .nav-icon
{
	margin-left: 10%;
}
nav .links li
{

	display: inline-flex;
    font-size: 35px;
    margin-right: 10px;
    margin-inline-start:60px;
}
nav .links
{
	position: relative;
	top:30%;
	left:27%;
	font-size: 27px;

}
@media only screen and (min-width: 1023px) and (max-width: 1024px)
{

}
@media only screen and (max-width: 1024px)
{

html,body
  {
    width: 100%;
    height: 100%;
    background:url(bg.jpg);
    background-repeat: no-repeat;
    background-size:cover;
  }
	.logo
	{
		height: 50%;
	}
	img
	{
		width: 125px;
		height: 60px;
	}
	nav
	{

		display: flex;
	  
	}
	nav .links
	{
		position: relative;
		transform: translate(-50%,-50%);
	
	}
	.nav-container
	{
		position: absolute;
		left:80%;

	}
	.nav-container .nav-icon
	{
		margin-left: 30%;
	}


}
@media only screen and (min-width: 1024px) and (max-width: 1505px)
{
	 html,body
  {
    width: 100%;
    height: 100%;
    background:url(bg.jpg);
    background-repeat: no-repeat;
    background-size:cover;
  }
nav .links li
{
	box-sizing: content-box;
	display: inline-flex;
    font-size: 24px;
    margin-right: 7px;
    margin-inline-start:30px;
}

.nav-container .nav-icon
	{
		margin-left: 30%;
		margin-top:40%;

	}


}