.main {
 
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%; 

  background-attachment: scroll;
}

.main .main-content .content h1
{
  font-family: "Starjedi";
  text-shadow:  0 0 10px #161569,0 0 20px #161569,0 0 30px  #00B7D4,0 0 40px #505488,0 0 100px #00B7D4;
  font-size: 5em;
  color:aliceblue;
  position: absolute;
  top:40%;
  left:7%;
}
.main h2
{
  font-family: 'Iceland', cursive;
 position: absolute;
 top:60%;
 left:10%;
}
.main video {
  min-width: 100%; 
  min-height: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  opacity: 0.85;
}


.main .content {
  min-width: 100%; 
  min-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background:url(bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
  width: 100%;
 
  z-index: -1;
}
.content  video
{
  clear-fix:none;
  position: fixed;
  top:50%;
  left: 50%;
  z-index: 1;

}
@media only screen and (max-width: 410px)
{
  .logo
  {
    visibility: hidden;
  }
  nav .links
  {
    position: relative;
    top:70%;
    right:30%;
  }
  html,body
  {
    width: 100%;
    height: 100%;
    background:url(bg.jpg);
    background-repeat: no-repeat;
    background-size:cover;
  }
  .main .main-content .content h1
{
  font-size: 3em;
  position: absolute;
  top:40%;
  left:10%;
}
.main h2
{
   position: absolute;

}

}
@media only screen and (min-width: 411px) and (max-width: 559px)
{
    .logo
  {
    visibility: hidden;
  }
   nav .links
  {
    position: relative;
    top:70%;
    right:30%;
  }
}

@media only screen and (min-width: 411px) and (max-width: 767px)
{
  .logo
  {
    visibility: hidden;
  }
     nav .links
  {
    position: relative;
    top:100%;

  }
   html,body
  {
    width: 100%;
    height: 100%;
    background:url(bg.jpg);
    background-repeat: no-repeat;
    background-size:cover;
  }
  h4
  {
    margin-inline-start:30px;
  }
 .main .main-content .content h1
{ 
  font-size: 3.2em;
  position: absolute;
  top:40%;
  left:13%;
} 

}
@media only screen and (min-width: 768px) and (max-width: 1023px)
{
  .logo
  {
    visibility: hidden;
  }
     nav .links
  {
    position: relative;
    top:70%;
  }
   html,body
  {
    width: 100%;
    height: 100%;
    background:url(bg.jpg);
    background-repeat: no-repeat;
    background-size:cover;
  }
 .main .main-content .content h1
{ 
  font-size: 5em;
  position: absolute;
  top:40%;
  left:13%;
} 
.main h2
{
   position: absolute;
   top:54%;
  left:13%;
}
}
@media only screen and (min-width: 1024px) and (max-width: 1272px)
{

   html,body
  {
    width: 100%;
    height: 100%;
    background:url(bg.jpg);
    background-repeat: no-repeat;
    background-size:cover;
  }
 .main .main-content .content h1
{ 
  font-size: 6em;
  position: absolute;
  top:40%;
  left:15%;
} 
.main h2
{
   position: absolute;
   top:55%;
  left:25%;
}
}
@media only screen and (min-width: 1273px){
   html,body
  {
    width: 100%;
    height: 100%;
    background:url(bg.jpg);
    background-repeat: no-repeat;
    background-size:cover;
  }
.main .main-content .content h1
{ 
  font-size: 6em;
  position: absolute;
  top:40%;
  left:7%;
} 
.main h2
{
   position: absolute;
   top:60%;
  left:14%;
}
}