.main {
 
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%; 
  overflow: hidden;
  background-attachment: scroll;
}

.main .main-content .content h1
{
  font-family: "Starjedi";
  text-shadow:  0 0 10px #161569,0 0 20px #161569,0 0 30px  #00B7D4,0 0 40px #505488,0 0 100px #00B7D4;
  font-size: 5em;
  color:aliceblue;
  position: absolute;
  top:40%;
  left:7%;
}
.main h2
{
  font-family: 'Iceland', cursive;
 position: absolute;
 top:55%;
 left:33%;
}
.main video ,.main img{
  min-width: 100%; 
  min-height: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  opacity: 0.85;
}


.main .content {
  min-width: 100%; 
  min-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  overflow: hidden;
  z-index: 1;
}
.content  video,.content img
{
  clear-fix:none;
  position: fixed;
  top:50%;
  left: 50%;
  z-index: 1;

}
@media only screen and (max-width: 1024px)
{
  .main .main-content .content h1
{
  font-size: 3em;
 
}
.main h2
{
   position: absolute;

}

}
@media only screen and (min-width: 411px) and (max-width: 767px)
{
 .main .main-content .content h1
{ 
  font-size: 3.2em;
  position: absolute;
  
} 
.main h2
{
   position: absolute;
   top:55%;
  left:13%;
}
}
@media only screen and (min-width:480px) and (max-width:767px)
{
    
     .main .main-content .content h1
    { 

    position: absolute;
    
    } 
}
@media only screen and (min-width: 768px) and (max-width: 1023px)
{
  
 .main .main-content .content h1
{ 
  font-size: 5em;
  position: absolute;
  
} 

}
@media only screen and (min-width: 1024px) and (max-width: 1272px)
{
 .main .main-content .content h1
{ 
  font-size: 6em;
  position: absolute;
  
} 
.main h2
{
   position: absolute;
  
}
}
@media only screen and (min-width: 1024px)
{
  .main .h
{
  visibility: hidden;
   
}
}
@media only screen and (min-width: 1273px){
.main .main-content .content h1
{ 
  font-size: 6em;
  position: absolute;
  top:40%;
  left:7%;
} 

}
.btn
{
      border: none;
    font-family: inherit;
    font-size: 14px;
       color: inherit;
    background: none;
    cursor: pointer;
    padding: 20px 40px;
    display: inline-block;
    margin: 10px 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.
.btn1-a{
    overflow: hidden;
}
.btn1 {
    border: 3px solid #fff;
    color: #fff;
}
btn1-a:after {
    width: 100%;
    height: 0;
    top: 50%;
    left: 50%;
    background: #fff;
    opacity: 0;
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    -moz-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    -ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
}
.btn:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition :all 0.3s;
}
*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
