body
{
	background-image:url('background.jpeg');
	background-repeat:no-repeat;
	background-size:cover;
	margin:0;
	top:0;
	bottom:0;
	left:0;
	right:0;
	position:fixed;
}


@font-face
{
	font-family:starjedi;
	src:url(Starjedi.ttf);
}


#heading {
	color:white;
	font-family:starjedi;
	font-size: 175%;
	text-align:center;
	top:10%;
	height:10%;
}

#heading h1
{
	padding-top:1%;
	font-size:200%;
}

#main
{
	top:25%;
	display:block;
	position:relative;
	
}

#eventsback
{
	background-color:white;
	color:black;
	display:inline-block;
	font-style:bold;
	width:30px;
	height:30px;
	right:2%;
	top:3%;
	position:absolute;
}

#eventsback a{
	text-decoration:none;
}

#eventsback p{
	font-size:120%;
	margin:auto;
	text-align:center;
	text-decoration:none;
	color:black;
}

#eventsback:hover{
	background-color:red;
	color:white;
	cursor:pointer;
}

#eventsback p:hover{
	color:white;
}

.arrow 
{
	font-size:300%;
	text-decoration:none;
	position:relative;
	float: left;
	display:inline-block;
	height:340px;
	width: 13%;
}

#left-arrow
{
	text-align: right;

}

.arrow a
{
	text-decoration:none;
	color:white;
	line-height: 340px;
	vertical-align: middle;
	
}

#right-arrow a
{
	margin-left: 40%;
}

.arrow a:hover
{
	color:red;
}


#eventsmenu
{
	display:inline-block;
	position:relative;
	overflow:hidden;
	float: left;
	white-space:nowrap;
	width:70%;
	height:340px;
}



.card
{
	display:inline-block;
	width:25%;
	height:280px;
	position:relative;
	margin-left:8%;
	margin-top:30px;
	background-color:rgba(0,0,0,0.8);
	color:white;
	border-radius:15%;
}


.card:hover{
	box-shadow:0 0 0 4px white;
	cursor:pointer;
}

.card img
{
	width:60%;
	height:60%;
	
	border-radius:50%;
	display:block;
	margin:auto;
	margin-top:14%;
}

.card p
{

	text-transform:uppercase;
	text-decoration:none;
	color:white;
	text-align:center;
}

@media screen and (max-width:600px)
{
	#eventsmenu
	{
		width:75%;
		margin-left:2%;
		margin-top: 0%
	}
	
	#event1
	{
		margin-left:10%;
	}
	
	.card{
		width:80%;
		margin-left:10%;
	}
	
	#left-arrow a
	{
		left:50%;
	}
	
	#right-arrow
	{
		right:0;
		position:absolute;
	}
	.arrow
	{
		width:10%;
	}
}


.popevent
{
	
	background-color:#001423;
	height: 100%;
	width: 100%;
	
	color:white;
	margin-top:490px;
	display:none;
	color:white;
	
	background-size:cover;
	background-repeat:no-repeat;

}

.wrong
{
	background-color:black;
	width:4%;
	height:2%;
	top:2%;
	right:4%;
	color:white;
	font-size:110%;
	display:none;
	text-align: center;
	position:absolute;
	
 }

#lands
{
	display: none;
	top:50%;
	position: :fixed;
}

#lands p
{
	text-align: center;
	left:50%;
	top:50%;
	right:50%;
	bottom: 50%;
}

.popevent h1
{
	text-align:center;
	margin:auto;
	color:white;
	font-size:300%;
	font-family:starjedi;
	padding:3%;
	letter-spacing:4px;	
}

.event1img
{
	width:20%;
	height:35%;
	display:inline-block;
	float: left;
	margin-left:9%;
}

.event1img img
{
	width:100%;
	height:100%;
	
	border-radius:25%;
	
}

.desc
{
	
	font-size:120%;
	font-family:'Open Sans Condensed', sans-serif;
	margin-left:5%;
	display:inline-block;
	float: left;
	width:63%;
}


.contact
{
	display:block;
	margin-top:6%;
	margin-left:16%
}

 #popevent3 .contact
{
	display:block;
	margin-top:4%;	
}

.back{
	display:none;
	left:8%;
	top:8%;
	width:100px;
	position:absolute;
}

.back button
{
	border:none;
	background:none;
	background-color:white;
	height:50px;
	width:50px;
	border-radius:50%;
	font-style:bold;
	font-size:180%;
	outline:none;
}

.back button:hover
{
	cursor:pointer;
	height:53px;
	width:53px;
	border-radius:50%;
	box-shadow:0px 0px 4px 8px rgba(179,242,255,0.2);
}

.back button a
{
	text-decoration:none;
	color:black;
	outline:none;
	
}


body::-webkit-scrollbar{
	display:none;
}

body 
{
	-ms-overflow-style: none;	
}

.popevent::-webkit-scrollbar{
	display:none;
}

.contactname
{
	display:inline-block;
	width:300px;
	position:relative;
	margin-left:16%;
	color:white;
	vertical-align:middle;
}

.contactname a
{
	color:white;
}

@media screen and (max-width:600px)
{
	body{
		position:fixed;
	}

	.popevent h1
	{
		font-size: 150%;
	}
	.event1img
	{
		margin-top: 2%;
		width:50%;
		margin-left: 25%;
		height:20%;
	}
	.event1img img{
		height:75%;
		width:75%;
	}
	
	.contact
	{
		margin-top:0%;
		height:15%;
	}
	.desc{
		width:90%;
		height: 50%;
		margin-top: 20%;

		left:2%;
		overflow: auto;
	}
	.back
	{
		margin-top:0;
		display:none;
	}
	.wrong
	{
		display:block;
	}
	
	.card:hover
	{
		width:80%;
		margin-left:10%;
	}
	
}