*
{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

body
{
	overflow-y: scroll;
	font-family: 'Cutive Mono', monospace;
	background:black;
	background-repeat: no-repeat;
	background-size: cover;
	
}

#print,#last 
{
	/*font-family: 'Playball', cursive;*/

   letter-spacing: -2px;
	color:green;
	font-size: 7vh;
	position: absolute;
	top:38%;
	left:14%;

}
#last
{
	left:78%;
}


input[type=text] {
				font-size: 11vh;
				border:none;
				background:black;
				outline:none;
				color:white;
				text-transform: uppercase;
				position: absolute;
				top:38%;
				left:46%;
				width: 32vw;
				height:18vh;
				border: none;
		}

input::placeholder
{
	position: relative;
	font-size: 7vh;

}
input:focus::placeholder
{
	
	color: transparent;
}

/*#splash {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%; 
  overflow: hidden;
}
#splash video {
visibility: hidden;
  min-width: 100%; 
  min-height: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}*/
.video-container video{
visibility: hidden;
  position: absolute;
  max-width: 100vw;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index:-1;
}

video{
  width:100%;
}

#bottom
{
/*	font-family: 'Inconsolata', monospace;*/
}
#bottom h2
{
	color: white;
	position: absolute;
	top:60vh;
	left:24vw;
	font-size: 5vh;
	font-color:white;
}
#bottom h2::before
{
	content: "/*";
	color:green;
}
#bottom h2::after
{
	content: "*/";
	color: green;
}
button
{
	cursor: pointer;
	position: absolute;
	top:75vh;
	left:48vw;
	outline: none;
	border: none;
  	color: #fff;
  	background-color: #4CAF50;
  	padding: 2vh 5vh;
  	text-align: center;
    text-decoration: none;
    font-size: 3vh;
    font-weight: bold;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}
button:active
{
	background-color: #3e8e41;
	box-shadow: 0 5px #666;
	-ms-transform: translateY(4px);
-webkit-transform: translateY(4px);
-moz-transform: translateY(4px);
-o-transform: translateY(4px);
transform: translateY(4px);
}
@media (min-width: 177.778vh) {
  div {
    height: 100vh;
    width: calc(100vh * 16 / 9);

    font-size: calc(10vh * 16 / 9);
  }
}
#splash{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#main{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    padding-right: 17px; /* Increase/decrease this value for cross-browser compatibility */
    box-sizing: content-box; /* So the width will be 100% + 17px */
}