@font-face
{
    font-family: "Aviano Future Regular Fast";
    src:url(fonts/regularfast.ttf);
    font-style: normal;
    font-weight: 50px;
}
@font-face
{
    font-family: "Starjedi";
    src:url(fonts/Starjedi.ttf);
    font-style: normal;
    font-weight: 200px;   
}
body
{
	font-family: "Aviano Future Regular Fast";
}
header
{
	text-align: center;
vertical-align: middle;
	display: flex;
	width:100%;
}
a
{
	color: white;
	text-decoration: none;
}
.logo
{
	box-sizing: content-box;
	flex: 1;
	
}
nav
{

	flex: 3;
}

.logo,nav
{
	display: flex;
}

.nav-container
{
	min-width: 100px;
	
}
.nav-container .nav-icon
{
	margin-left: 10%;
}
nav .links li
{

	display: inline-flex;
    font-size: 35px;
    margin-right: 10px;
    margin-inline-start:60px;
}
nav .links
{
	position: relative;
	top:30%;


}

@media only screen and (max-width: 768px)
{
	.logo
	{
		height: 50%;
	}
	img
	{
		width: 125px;
		height: 60px;
	}
	nav
	{
		display: block;
	   flex: 1;
	   visibility: hidden;
	}
	.nav-container
	{
		position: absolute;
		left:80%;

	}
	.nav-container .nav-icon
	{
		margin-left: 30%;
	}


}
@media only screen and (max-width: 1024px)
{
nav .links li
{
	box-sizing: content-box;
	display: inline-flex;
    font-size: 24px;
    margin-right: 7px;
    margin-inline-start:30px;
}

.nav-container .nav-icon
	{
		margin-left: 30%;
		margin-top:40%;

	}


}